<!DOCTYPE html>
<head> 
	<title>CASH Music - Mozfest 2014</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="https://91ee07a61ca29df61569-b2dba7dce06e8a9c0977ad3a8844e9c8.ssl.cf2.rackcdn.com/v3/ui/default/assets/images/favicon.ico" />
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://91ee07a61ca29df61569-b2dba7dce06e8a9c0977ad3a8844e9c8.ssl.cf2.rackcdn.com/v3/assets/css/embed-default.css" />
	<link rel="stylesheet" type="text/css" href="https://91ee07a61ca29df61569-b2dba7dce06e8a9c0977ad3a8844e9c8.ssl.cf2.rackcdn.com/v3/assets/css/page-default.css" />
	<script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script>
</head> 
<body>
	<div id="mainspc">
		<!-- Email Collection Example -->
		<script type="text/javascript"> 
			// using the longer object style embed code with CSS override enabled
			window.cashmusic.embed(
				{
					endpoint: 'https://cashmusic.org/public',
					elementid: '5341',
					cssoverride: 'https://91ee07a61ca29df61569-b2dba7dce06e8a9c0977ad3a8844e9c8.ssl.cf2.rackcdn.com/v3/assets/css/embed-default.css'
				}
			);
		</script>

		<!-- Single Purchase Example -->
		<script type="text/javascript"> 
			// using the longer object style embed code with CSS override enabled
			window.cashmusic.embed(
				{
					endpoint: 'https://cashmusic.org/public',
					elementid: '5340',
					cssoverride: 'https://91ee07a61ca29df61569-b2dba7dce06e8a9c0977ad3a8844e9c8.ssl.cf2.rackcdn.com/v3/assets/css/embed-default.css'
				}
			);
		</script>

		<!-- Tour Dates Example -->
		<script type="text/javascript"> 
			// using the longer object style embed code with CSS override enabled
			window.cashmusic.embed(
				{
					endpoint: 'https://cashmusic.org/public',
					elementid: '5342',
					cssoverride: 'https://91ee07a61ca29df61569-b2dba7dce06e8a9c0977ad3a8844e9c8.ssl.cf2.rackcdn.com/v3/assets/css/embed-default.css'
				}
			);
		</script>

	</div>
	<div class="madebycash"><a href="http://cashmusic.org/" target="_blank">Made with &#9825; by CASH Music. Open-source &amp; Free forever. </a></div><!--madebycash-->
</body> 
</html>